
<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>


  <!-- Main Content -->
 
  <main class="container" >
    <div class="jumbotron" style="height:650px;" class="span12" background-color: "transparent";>
      <html>
        <head>
          
        <style>
        .myDiv {
          border: 0px outset rgb(133, 103, 103);
          background-color: rgb(53, 45, 45);    
          text-align: left; color:rgb(235, 234, 241);
          height: 45px;
        }
        </style>
        </head>
        <body>
         <h1></h1>
         <div class="myDiv" style="width: inherit;" float: right >
          <h2>  &nbsp About Me</h2>
        </div>
           <H6>&nbsp</H6>
          <center> <img src ="/Assets/images/jest.jpg" style="width:230px;height:200px; " class = "center"></center>
           <P style="font-size: 18px;">
            <br>
            My name is Jestoni Vasquez I am taking the Software Engineering Technology - Artificial Intelligence. I have an educational background in Information Technology (IT) and have worked in IT industries for over seven years. <br><br> In my free time, I love listening to music, watching Netflix and Anime series. I also love reading Manga comics. My favourite Manga series is One Piece. I like playing card games and mobile games with friends. I love to travel, exploring new places, and meeting new friends.
            <br><br>
            <a href="/Assets/doc/JGV.pdf" download = "Resume"> 
              Click here to download my resume.
            </a>
            <br>
            <a href="#" onclick="window.open('/Assets/doc/JGV.pdf', '_blank', 'fullscreen=yes'); return false;">Click here to view my resume.</a>
            
           </P> 
          
        </body>
        </html>
            
        </div>
  </main>

  
  
<%- include partials/bottom_nav.ejs %>  

<%- include partials/footer.ejs %>
  




