
<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>
  <!-- Main Content --> 
  <main class="container" style="background:transparent url('/Assets/images/bg1.jpg') no-repeat center center /cover">
    <div class="jumbotron" style="height:1250px;" class="span12">
      <html>
        <head>
          
        <style>
        .myDiv {
          border: 0px outset rgb(133, 103, 103);
          background-color: rgb(53, 45, 45);    
          text-align: left; color:rgb(235, 234, 241);
          height: 45px;
          background-image: url("/Assets/images/jest.jpg");
          word-break: break-all;
        }
        </style >
        </head>
        <body>
         <h1></h1>
         <div class="myDiv" style="width: inherit;" float: right >
          <h2>  &nbsp My Projects</h2>
        </div>
           <P style="font-size: 17px;" class="cell-breakWord" class="tab"> <br> 
            Here are the list of completed and on-going projects. In the near future, I would like to build a mobile applications for food services.
           <OL>
            <b><li> &nbsp Competencey Discovery System</li></b>
            <img src ="/Assets/images/pup.png" style="width:100px;height:100px;"> 
                    <p> <i><b><br>Project Type:</b></i> Research Paper <br>
                        <i><b>Project Name</b>:</i> Competency Discovery System: Integrating the Enhanced ID3
                           Decision Tree Algorithm to Predict the Assessment Competencyof Senior High School Students <br>
                        <i><b>Project Description: </b></i>
                        The study presents the development of Competency Discovery System, which integrates enhanced Iterative Dichometer 3
                        (ID3) decision tree algorithm, to predict assessment competency of senior high school students. It was also successful in integrating
                        the feature selection to select the data attributes that have impact on the performance of students. <br>
                        <i><b>Status</b>:</i> Completed <br>
                        <a href="#" onclick="window.open('/Assets/doc/research.pdf', '_blank', 'fullscreen=yes'); return false;">Click here to view the document.</a>
                    </p> 
            <b><li>&nbsp Online Document Management System for Big Leaf </li></b>
            <img src ="/Assets/images/bigleaf.png" style="width:150px;height:150px; ">
                    <p> <i><b>Project Type:</b></i> Online System <br>
                        <i><b>Project Name</b>:</i> Online Document Management System for Big Leaf Education and Migration <br>
                        <i><b>Project Description: </b></i>
                        The project will enable the organization to manage online the documents of clients and internal users.  <br>
                        <i><b>Status</b>:</i> Not yet started <br>
                     </p>
            <b><li>&nbsp Online Food Reservation System </li></b><br>
            <img src ="/Assets/images/chicha.png" style="width:180px;height:150px; ">
                    <p> <i><b>Project Type:</b></i> Online System <br>
                        <i><b>Project Name</b>:</i> Food Reservation System for Amelia's Pork Chicharon <br>
                        <i><b>Project Description: </b></i>
                        The application will allow the customers to place their pork chicharon order in advance. The product owner will able to manage the inventory of food products.  <br>
                        <i><b>Status</b>:</i> Not yet started <br>
                  
                     </p> 
           </OL>
            
           </P>
          
        </body>
        </html>
            
        </div>
  </main>

  
  
<%- include partials/bottom_nav.ejs %>  

<%- include partials/footer.ejs %>
  




