
<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>


  <!-- Main Content -->
 
  <main class="container" style="background:transparent url('/Assets/images/bg1.jpg') no-repeat center center /cover">
    <div class="jumbotron" style="height:1600px;" class="span12">
      <html>
        <head>
          
        <style>
        .myDiv {
          border: 0px outset rgb(133, 103, 103);
          background-color: rgb(53, 45, 45);    
          text-align: left; color:rgb(235, 234, 241);
          height: 45px;
          background-image: url("/Assets/images/jest.jpg");
          word-break: break-all;
        }
        </style >
        </head>
        <body>
         <h1></h1>
         <div class="myDiv" style="width: inherit;" float: right >
          <h2>  &nbsp Services Offered</h2>
        </div>
           <P style="font-size: 17px;" class="cell-breakWord" class="tab"> <br> 
            Here are the list of services I offer as a freelancer.
           <OL>
            <b><li> &nbsp Project Consultant</li></b><center><img src ="/Assets/images/pm.png" style="width:200px;height:200px; "></center>
            One of the services I offer is the project management consultation. I have work background in project management. Back in the Philippines, I IT projects I handled are mostly in the retail and e-commerce industries.
                    <p>    
                      <ul><b>Roles and Responsibilities</b>
                        <li>Gather and prepare business requirements.</li>
                        <li>Facilitate meetings with the stakeholders and internal IT team.</li>
                        <li>Plan and document the gathered business requirements.</li>
                        <li> Prepare the timeline for the project delivery. </li> 
                        <li>  Initiate the project kick-off with the internal IT team. </li> 
                        <li>  Monitor the quality assurance testing of the change request or project.</li> 
                        <li> Facilitate the user acceptance testing with the business participants. </li> 
                        <li>  Facilitate the user acceptance testing with the business participants. </li> 
                        <li>Make sure that the overall change request or project meets the client needs</li>
                    </ul>
                    </p>
            <b><li> &nbsp Azure Virtual Desktop Consultant</li></b>
            <center><img src ="/Assets/images/virtual.png" style="width:230px;height:200px; "></center>
            Plan, deliver, and manage virtual desktop experiences and remote apps, for any device, on Azure.
                    <p>
                      <ul><b>Roles and Responsibilities</b>
                        <li>Support our internal teams in activities related to the implementation of various workplace solutions.</li>
                        <li>Participate in technical communities to support our Subject Matter Experts in preparing training, technical sessions, and any other events which help quickly develop technical knowledge.</li>
                    </ul>                     
                    </p>
            <b><li> &nbsp Microsoft NAV / Business Central Consultant</li></b>
            <center><img src ="/Assets/images/nav.png" style="width:230px;height:170px; "></center>
            Perform consulting services for Microsoft Dynamics Navision (NAV) customers focusing on the delivery and implementation of Microsoft's NAV ERP solution.
                    <p>
                      <ul><b>Roles and Responsibilities</b>
                        <li>Capturing and Documenting Business Process and Requirements.</li>
                        <li>Overseeing the entire NAV system.</li>
                        <li>Addressing any problems that arise with LS Retail and NAV system.</li>
                        <li>Gathering gap analysis and requirements </li>                
                    </ul>
                   </p>
           </OL>
            
           </P>
          
        </body>
        </html>
            
        </div>
  </main>

  
  
<%- include partials/bottom_nav.ejs %>  

<%- include partials/footer.ejs %>
  




